@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Playfair Display", serif;
    background: linear-gradient(#386868, #306864);
    color: #ffffff;
    text-align: center;
    line-height: 1.7;
}

/* HEADER */
header{
    padding: 30px 10px;
    background: linear-gradient(#335c66, #1c3b3c);
    box-shadow: 0px 8px 25px rgba(0,0,0,.3);
}

p{
    padding: 5px;
}

button{
    margin: 5px;
    padding: 7px;
    border-radius: 7px;
    border: #fff;
}

/* MENU GRID */
.menu-grid{
    display: flex;
    justify-content: center;
    padding: 40px;
}

.menu-item{
    background: #fff;
    width: 800px;
    padding: 35px;
    border-radius: 25px;
    text-decoration: none;
    color: #3a6a4c;
    transition: .4s;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.menu-item:hover{
    transform: translateY(-7px);
    box-shadow: 0 25px 40px rgba(0,0,0,0.35);
}

.icone{
    font-size: 7em;
}

.titulo-card{
    font-size: 2em;
    font-weight: bold;
    margin: 15px 0;
}

.desc-card{
    font-size: 1em;
}


/* FOOTER */
footer{
    margin-top: 200px;
    padding: 40px;
    background: linear-gradient(#294f4f,#132727);
    box-shadow: 0 -6px 25px rgba(0, 0, 0, 0.3);
}

footer p{
    font-size: 15px;
    opacity: .8;
}